<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Rishab Sharma</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{{ url_for('static',filename='favicon.png') }}">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static',filename='animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static',filename='icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css') }}">

	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">


	<!-- Modernizr JS -->
	<script src="{{ url_for('static',filename='modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<nav id="fh5co-main-nav" role="navigation">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
		<div class="js-fullheight fh5co-table">
			<div class="fh5co-table-cell js-fullheight">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="http://www.rishabsharma.co.nf">Portfolio</a></li>
					<li><a href="certi.html">Certificates</a></li>
					<li><a href="rp.html">Research Papers</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div id="fh5co-page">
		<header>
			<div class="container">
				<div class="fh5co-navbar-brand">
					<a class="fh5co-logo" href="/">Rishab Sharma</a>
				</div>
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
			</div>
		</header>
		<div id="fh5co-intro-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 animate-box">
						<h2 class="intro-heading">Welcome to my Image Repository</h2>
						<p><span>Created with <i class="icon-heart3"></i> by Rishab Sharma </span></p>
					</div>
				</div>
			</div>
		</div>
		<div id="fh5co-portfolio-section">
			<div class="container">
				<ul id="filters" class="clearfix animate-box">
					<li><span class="filter active" data-filter=".all">All</span></li>
					<li><span class="filter" data-filter=".app">Award</span></li>
					<li><span class="filter" data-filter=".card">Academia</span></li>
					<li><span class="filter" data-filter=".logo">Hackathon</span></li>
					<li><span class="filter" data-filter=".web">Experience</span></li>
				</ul>

				<div id="portfoliolist" class="animate-box">
					
					<div class="portfolio all logo" data-cat="logo">
						<div class="portfolio-wrapper">				
							<img src="{{ url_for('static',filename='portfolio_pic1.jpg') }}" alt="" />
							<div class="label">
								<div class="label-text">
									<a class="text-title">HackDTU</a>
									<span class="text-category">Hacathon</span>
								</div>
								<div class="label-bg"></div>
							</div>
						</div>
					</div>				

					<div class="portfolio all card web" data-cat="card">
						<div class="portfolio-wrapper">			
							<img src="{{ url_for('static',filename='portfolio_pic2.jpg') }}" alt="" />
							<div class="label">
								<div class="label-text">
									<a class="text-title">ONGC Internship</a>
									<span class="text-category">Dehradun</span>
								</div>
								<div class="label-bg"></div>
							</div>
						</div>
					</div>		
					
					<div class="portfolio all web" data-cat="web">
						<div class="portfolio-wrapper">						
							<img src="{{ url_for('static',filename='portfolio_pic3.jpg') }}" alt="" />
							<div class="label">
								<div class="label-text">
									<a class="text-title">Product Development Internship</a>
									<span class="text-category">Hasura , Banglore</span>
								</div>
								<div class="label-bg"></div>
							</div>
						</div>
					</div>				
					
					<div class="portfolio all card" data-cat="card">
						<div class="portfolio-wrapper">			
							<img src="{{ url_for('static',filename='portfolio_pic4.jpg') }}" alt="" />
							<div class="label">
								<div class="label-text">
									<a class="text-title">Letter of Recommendation</a>
									<span class="text-category">Manager , EPINET , ONGC</span>
								</div>
								<div class="label-bg"></div>
							</div>
						</div>
					</div>	
								
					<div class="portfolio all app" data-cat="app">
						<div class="portfolio-wrapper">
							<img src="{{ url_for('static',filename='portfolio_pic5.jpg') }}" alt="" />
							<div class="label">
								<div class="label-text">
									<a class="text-title">Tarun Sangeet</a>
									<span class="text-category">Rank 8</span>
								</div>
								<div class="label-bg"></div>
							</div>
						</div>
					</div>			
					
					<div class="portfolio all card" data-cat="card">
						<div class="portfolio-wrapper">			
							<img src="{{ url_for('static',filename='portfolio_pic6.jpg') }}" alt="" />
							<div class="label">
								<div class="label-text">
									<a class="text-title">Academic Excellence Award by ASTO</a>
									<span class="text-category">ASTO, ONGC</span>
								</div>
								<div class="label-bg"></div>
							</div>
						</div>
					</div>	
					
					</div>																											
				</div>
			</div>
		</div>
		<!-- END fh5co-portfolio-section -->
		<div id="fh5co-services-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h2>ML , DL and What Not !</h2>
						<h3>A small insight of knowledge domain | Full Time Baysian and Part Time frequentist</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 animate-box">
						<div class="fh5co-services text-center">
							<i class="icon-heart"></i>
							<div class="holder-section">
								<h3>Deep Learning</h3>
								<p>MLP , RNN (LSTM) , CNN , GAN </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="fh5co-services text-center">
							<i class="icon-laptop"></i>
							<div class="holder-section">
								<h3>Web Developement</h3>
								<p>HTML , CSS , Javascript , Flask , NodeJs , Django </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="fh5co-services text-center">
							<i class="icon-video"></i>
							<div class="holder-section">
								<h3>Gaming</h3>
								<p>Counter Strike , DOTA 2 , Team Fortress , Assasin Creed , GTA</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="fh5co-services text-center">
							<i class="icon-mobile"></i>
							<div class="holder-section">
								<h3>Machine Intelligence with Anderoid</h3>
								<p>Integrated Deep Learning with Anderoid ,</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="fh5co-services text-center">
							<i class="icon-gears"></i>
							<div class="holder-section">
								<h3>Robotics</h3>
								<p>ArUco , OpenCV , Vrep , IOT</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="fh5co-services text-center">
							<i class="icon-piechart"></i>
							<div class="holder-section">
								<h3>Data Analysis and Mining</h3>
								<p>ScikitLearn , Pandas , MatplotLib</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End: fh5co-services-section -->
		<footer>
			<div id="footer" class="fh5co-border-line">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>No Copyright . All Rights Not Reserved. <br>Made with <i class="icon-heart3 love"></i> by Rishab Sharma </p>
						</div>
						<div class="col-md-6 social-text-align">
							<p class="fh5co-social-icons">
								<a href="https://www.facebook.com/profile.php?id=100009748595689"><i class="icon-twitter-with-circle"></i></a>
								<a href="https://twitter.com/RishuSharma2"><i class="icon-facebook-with-circle"></i></a>
								<a href="https://github.com/rishab-sharma"><i class="icon-github-with-circle"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	
	</div>
	<!-- jQuery -->
	<script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static',filename='jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static',filename='jquery.waypoints.min.js') }}"></script>
	<!-- Portfolio Filter Mixitup -->
	<script type="text/javascript" src="{{ url_for('static',filename='jquery.mixitup.min.js') }}"></script>

	<!-- Main JS (Do not remove) -->
	<script src="{{ url_for('static',filename='main.js') }}"></script>

	<script type="text/javascript">
	$(function () {
		
		var filterList = {
		
			init: function () {
			
				// MixItUp plugin
				// http://mixitup.io
				$('#portfoliolist').mixItUp({
  				selectors: {
    			  target: '.portfolio',
    			  filter: '.filter'	
    		  },
    		  load: {
      		  filter: '.all'  
      		}     
				});								
			
			}

		};
		// Run the show!
		filterList.init();
	});	
	</script>

	</body>
</html>