<!DOCTYPE html>
<html class="no-js"> 
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Rishab Sharma</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{{ url_for('static',filename='favicon.png') }}">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static',filename='animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static',filename='icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css') }}">

	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">


	<!-- Modernizr JS -->
	<script src="{{ url_for('static',filename='modernizr-2.6.2.min.js') }}"></script>

	</head>
	<body>
	<nav id="fh5co-main-nav" role="navigation">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
		<div class="js-fullheight fh5co-table">
			<div class="fh5co-table-cell js-fullheight">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="http://www.rishabsharma.co.nf">Portfolio</a></li>
					<li><a href="certi.html">Certificates</a></li>
					<li><a href="rp.html">Research Papers</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="fh5co-page">
		<header>
			<div class="container">
				<div class="fh5co-navbar-brand">
					<a class="fh5co-logo" href="/">RISHAB SHARMA</a>
				</div>
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
			</div>
		</header>
		<div id="fh5co-team-section">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h2>Research Papers</h2>
						<h3>My Research work Published , Under Review and Ongoing</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="team-section-grid" style="background-image: url({{ url_for('static',filename='author-1.jpg') }});">
							<div class="overlay-section">
								<div class="desc">
									<h3>Neural Networks for Image Classification</h3>
									<span>IJICSEr</span>
									<p>Suggested a neural architecture to improve state of the art results</p>
									<p class="fh5co-social-icons">
										<a href="#"><i class="icon-twitter-with-circle"></i></a>
										<a href="#"><i class="icon-facebook-with-circle"></i></a>
										<a href="#"><i class="icon-instagram-with-circle"></i></a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="team-section-grid" style="background-image: url({{ url_for('static',filename='author-1.jpg') }});">
							<div class="overlay-section">
								<div class="desc">
									<h3>SDC with EEG</h3>
									<span>JAIR</span>
									<p>Dream come true , Drive your car with the power of your brain</p>
									<p class="fh5co-social-icons">
										<a href="#"><i class="icon-twitter-with-circle"></i></a>
										<a href="#"><i class="icon-facebook-with-circle"></i></a>
										<a href="#"><i class="icon-instagram-with-circle"></i></a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="team-section-grid" style="background-image: url({{ url_for('static',filename='author-1.jpg') }});">
							<div class="overlay-section">
								<div class="desc">
									<h3>Coming Soon</h3>
									<span>IEEE</span>
									<p>Dream Big , Research it Out , 0_^ </p>
									<p class="fh5co-social-icons">
										<a href="#"><i class="icon-twitter-with-circle"></i></a>
										<a href="#"><i class="icon-facebook-with-circle"></i></a>
										<a href="#"><i class="icon-instagram-with-circle"></i></a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End: fh5co-services-section -->
		<footer>
			<div id="footer" class="fh5co-border-line">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>No Copyright . All Rights Not Reserved. <br>Made with <i class="icon-heart3 love"></i> by Rishab Sharma </p>
						</div>
						<div class="col-md-6 social-text-align">
							<p class="fh5co-social-icons">
								<a href="https://www.facebook.com/profile.php?id=100009748595689"><i class="icon-twitter-with-circle"></i></a>
								<a href="https://twitter.com/RishuSharma2"><i class="icon-facebook-with-circle"></i></a>
								<a href="https://github.com/rishab-sharma"><i class="icon-github-with-circle"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- jQuery -->
	<script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static',filename='jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static',filename='jquery.waypoints.min.js') }}"></script>
	<!-- Portfolio Filter Mixitup -->
	<script type="text/javascript" src="{{ url_for('static',filename='jquery.mixitup.min.js') }}"></script>

	<!-- Main JS (Do not remove) -->
	<script src="{{ url_for('static',filename='main.js') }}"></script>

	</body>
</html>

